<%include header.html%>
    

<div class="row">
        <div class="col-lg-12">
          <h2 class="my-4" id="tituloTodos">Anuncios</h2>
        </div>
         <h1>Tu anuncio ha sido insertado correctamente !!!</h1>


         
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="img-fluid d-block mx-auto" src="<%=ruta+anuncioGuardado.foto%>" alt="">
        <h3><%= anuncioGuardado.nombre %></h3>
        <small>Venta: <%= anuncioGuardado.venta %></small>
        <h2><%= anuncioGuardado.precio %> €</h2>
        <p>Tags: <%=anuncioGuardado.tags %> </p> 
        </div>     
         
</div>     
    
<%include footer.html%>