<%include header%>
  <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">Aquí debería de ir un formulario para Crear</h1>
      <p>Todavía no está implementado</p>
      <p>Tendrás que hacerlo a través de Postman que está implementado ...</p>         
          
    </div>    

<%include footer%>