<% if(error.status == 404){
    message = "Estás intentando acceder a algo que no hay ...";
}
else{
    message = "Algo no hay ido bien";
}%>
<%include header.html%>
 <!-- Page Content --> 
 <header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <!-- Introduction Row -->
            <div class="col-lg-7 my-auto">               
                <div class="header-content mx-auto">
                    <div class="col-lg-12">
                        <h2 class="my-4" id="tituloTodos">Error</h2>
                        <h1><%= message %></h1>
                        <h2 class="my-4"><%=__('Código de error ')+error.status %></h2>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</header>
<%include footer.html%>
