
    <!-- Bootstrap core JavaScript -->
    <script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="/stylesheets/vendor/popper/popper.min.js"></script>
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>