<%include header.html%>
  <!-- Page Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
      <!-- Introduction Row -->
        <div class="col-lg-7 my-auto">
          <h2 class="my-4"><%= __('Práctica de Backend Avanzado')%></h2>
          <div class="header-content mx-auto">
            <h3 class="my-4"><%= __('Internacionalización del frontend')%></h3>      
            <small><%= __('Desde la esquina superior derecha se pueden elegir los idiomas')%></small>
          </div>
        </div>  
      </div>   
    </div>
  </div>
</header>
<%include footer.html%>