<%include header.html%>
  <!-- Page Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">

      <!-- Introduction Row -->
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
      <h1 class="my-4">Bienvenido a la Práctica de Nodepop 
        <small>Módulo JS-Node-MongoDB</small>
      </h1>
    </div>
  </div>
  <div class="col-lg-7 my-auto">
    <div class="header-content mx-auto">
      <p>Se ha estructado esta práctica en diferentes secciones</p>
      <p>Dede la barra de navegación se pueden realizar las diferentes operaciones</p>       
    </div>
  </div> 
      </div>   
    </div>
  </div>
</header>

      <%include footer.html%>